* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212.31, 44.83%, 88%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* ---------- TAB BIANCA ---------- */

.container {
    display: flex;
    width: 85vw;
    height: 550px;
    background-color: hsla(0, 0%, 100%, 1);
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/* ---------- QR CODE ---------- */

.container img {
    width: 90%;
    border-radius: 10px;
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    width: 70vw;
    height: 150px;
    margin-bottom: 20px;
}
section h2 {
    font-size: 22px;
    color: hsla(217, 44%, 22%, 1);
}
p {
    color: hsla(219, 15%, 55%, 1);
}

/* ---------- MEDIA QUERY PER DESKTOP ---------- */

@media (min-width: 768px) {

    /* ---------- TAB BIANCA ---------- */

    .container {
        width: 20vw;
        height: 60vh;
    }

    section {
        margin: 0;
    }

    p,
    h2 {
        padding: 20px 55px 0;
    }
}