* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212.31, 44.83%, 88.63%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

/* TAB BIANCA */
.container {
    display: flex;
    width: 90vw;
    min-height: 500px;
    min-width: 250px;
    background-color: white;
    border-radius: 20px;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
}

/* QR CODE */
.container img {
    margin-top: 20px;
    width: 90%;
    border-radius: 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 70vw;
    margin: 40px 0 0;
}

p {
    padding: 20px 0;
}

/* media per pc */
@media (min-width: 768px) {

    /* TAB BIANCA */
    .container {
        width: 20vw;
        height: 60vh;
    }

    section {
        margin: 0;
    }

    p,
    h2 {
        padding: 20px 55px 0;
    }
}